html,
body{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

:root{
  --cyan: #2ab2af;
  --bright-yellow: #c0df34;
  --light-gray: #e5eff5;
  --grayish-blue:#98a6bd;
  --green-yellow:#c5ee0e;
  --blue:#3acac8;
  --white:#ffffff;
  --dark-blue: #3e52a3


}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

