@media(max-width:900px){
  .container{
align-items: stretch;
text-align: left;

  }
  .second-box,
  .third-box{
   font-size: 13px;
   
  }

  a{
    position: relative;
		bottom: 2px;
		left: 45%;
		transform: translateX(-50%);
  }
 
}